@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body h1, h2{
  text-align: center;
  margin-top: 40px;
}
body > p{
  text-align: center;
}
.title{
  width: 40%;
  margin: 30px auto 0;
}
.desc{
  font-size: 12px;
}
.outer{
  width: 40%;
  margin: 10px auto 0;
  background-color: #E6ECF2;
  padding: 10px;
}
.inner{
  background-color: #EEF2F6;
  border: 1px solid white;
  position: relative;
}

.inner_ex1{
  text-align: center;
}

.inner_ex2{
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.outer_ex3{
  text-align: center;
}

.inner_ex3{
  display: inline-block;
}

.outer_ex4{
  height: 150px;
  display: table;
  text-align: center;
}

.outer_ex4 > div{
  display: table-row;
}

.inner_ex4{
  display: table-cell;
  vertical-align: middle;
}

.outer_ex5{
  position: relative;
  height: 150px;
}

.inner_ex5{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;
}

.inner_ex6{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit- transform: translateX(-50%) translateY(-50%);
}

.outer_ex7{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

li{
  list-style: none;
}

.ul1 li{
  float: left;
}

.clr_fix::after{
  content: "";
  display: block;
  clear: both;

  /* わかりやすく四角を表示 */
  width:10px;
  height:10px;
  background-color: #f0f;
}

.ul2 li{
  display: inline-block;
}

.ul3 li{
  display: table-cell;
}

.st{
  position: static;
  top:20px;
  left:20px;
}

.rl{
  position: relative;
  top:20px;
  left:20px;
}

.ab{
  position: absolute;
  top:20px;
  left:20px;
}

.fx{
  position: fixed;
  top:20px;
  left:20px;
}
