@charset "utf-8";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body h1, h2{
  text-align: center;
  margin-top: 40px;
}
body > p{
  text-align: center;
}
.title{
  width: 40%;
  margin: 30px auto 0;
}
.desc{
  font-size: 12px;
}
.outer{
  width: 40%;
  margin: 10px auto 0;
  background-color: #E6ECF2;
  padding: 10px;
}
.inner{
  background-color: #EEF2F6;
  border: 1px solid white;
  position: relative;
}

.inner_ex1{
  text-align: center;
}

.inner_ex2{
  width: 80%;
  margin: 0 auto;
  max-width: 500px;
}

.outer_ex3{
  text-align: center;
}

.inner_ex3{
  display: inline-block;
}

.outer_ex4{
  height: 150px;
  display: table;
  text-align: center;
}

.outer_ex4 > div{
  display: table-row;
}

.inner_ex4{
  display: table-cell;
  vertical-align: middle;
}

.outer_ex5{
  position: relative;
  height: 150px;
}

.inner_ex5{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 3.2rem;
}

.inner_ex6{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit- transform: translateX(-50%) translateY(-50%);
}

.outer_ex7{
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer_ex8{
  height: 300px;
}
.inner_ex8{
  width: 40%;
  vertical-align: middle;
  display: inline-block;
}

.inner_ex9{
  height: 100px;
  line-height: 100px;
}

.inner_ex10{
  padding: 20px 0;
}

li{
  list-style: none;
}

.ul1 li{
  float: left;
}

.clr_fix::after{
  content: "";
  display: block;
  clear: both;

  /* わかりやすく四角を表示 */
  width:10px;
  height:10px;
  background-color: #f0f;
}

.ul2 li{
  display: inline-block;
}

.ul3 li{
  display: table-cell;
}

.st{
  position: static;
  top:20px;
  left:20px;
}

.rl{
  position: relative;
  top:20px;
  left:20px;
}

.ab{
  position: absolute;
  top:20px;
  left:20px;
}

.fx{
  position: fixed;
  top:20px;
  left:20px;
}

/* test */
.box {
    position: relative;
    width: 50%;
    height: auto;
    background: #444;
}
.ratio-1_1:before {
    content: "";
    display: block;
    padding-top: 100%; /* 1:1 */
    /* width: 10px;
    height: 10px; */
    background-color: pink;
}
._inner {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}
/* test */


.width_50per{
  width: 50%;
  float: left;
  text-align: center;
  background-color: red;
}

.width_30per{
  width: 30%;
  float: left;
  text-align: center;
  background-color: green;
}

.width_20per{
  width: 20%;
  float: left;
  text-align: center;
  background-color: blue;
}

.width_100per{
  width: 100%;
  padding: 0 20px;
  text-align: center;
  color: white;
  background-color: rgb(240, 135, 48);
}

.contentbox{
  box-sizing: content-box;
  background-color: rgb(92, 205, 111);
}

.wp_sel_contain{
  width: 80%;
  padding: 0 10%;
  box-sizing: content-box;
  background-color: rgb(246, 114, 205);
}
.wp_sel{
  width: auto;
  color: white;
  text-align: center;
  background-color: rgb(161, 114, 246);
}

.width_auto{
  box-sizing: content-box;
  width: auto;
  padding: 0 20px;
  text-align: center;
  background-color: white;
}

.height_parent{
  height: 300px;
}

.height_smpcontain50{
  width: 50%;
  height: 280px;
  float: left;
}

.height_smpcontain25{
  width: 25%;
  height: 280px;
  text-align: center;
  float: left;
}

.height_50per{
  height: 50%;
  text-align: center;
  background-color: red;
}

.height_30per{
  height: 30%;
  text-align: center;
  background-color: green;
}

.height_20per{
  height: 20%;
  text-align: center;
  background-color: blue;
}

.height_100per{
  height: 100%;
  padding: 20px 0;
  color: white;
  background-color: rgb(240, 135, 48);
}

.hp_sel_contain{
  height: 80%;
  padding: 10% 0;
  box-sizing: content-box;
  background-color: rgb(246, 114, 205);
}

.hp_sel{
  height: 100%;
  color: white;
  text-align: center;
  background-color: rgb(161, 114, 246);
}

.content_box{
  box-sizing: content-box;
  background-color: rgb(86, 210, 38)
}

.sampleimg{
  text-align: center;
}

.paddingtop{
  text-align: center;
  padding: 25% 0;
  background-color: pink;
}

.margin{
  margin: 50px 10px 0 10px;
  background-color: pink;
}
.margin_parent1{
  border: initial;
  height: 100px;
}
.margin_parent2{
  border: initial;
  padding: 10px 0;
  height: 100px;
}
.margin_parent3{
  border: 3px solid blue;
  height: 100px;
}
.margin_parent4{
  border: initial;
  height: 100px;
  overflow: hidden;
}

.bg0{
  width: auto;
  height: 100px;
  background-image: url("star.png");
  background-position: center center;
  background-size: auto;
}

.bg1{
  width: auto;
  height: 100px;
  background-image: url("star.png");
  background-position: center center;
  background-size: contain;
}

.bg2{
  width: auto;
  height: 100px;
  background-image: url("star.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bg3{
  width: auto;
  height: 100px;
  background-image: url("star.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg3a{
  width: auto;
  height: 100vh;
  background-image: url("star.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg4{
  width: auto;
  height: 100px;
  background-image: url("star.png");
  background-position: bottom center;
  background-size: auto;
  background-repeat: repeat-x;
  background-attachment: fixed;
}

.bg5{
  width: auto;
}
.bg5 div.a{
  background: linear-gradient(transparent 50%, pink 50%);
}
.bg5 div.b{
  margin-top: 20px;
  height: 300px;
  background: linear-gradient(yellow 20%,pink 80%);
}
.bg5 div.c{
  margin-top: 20px;
  height: 500px;
  background: linear-gradient(45deg, yellow 20%,pink 80%);
}
