rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /todos/{todosId} {
      allow read;
      allow create;
      allow update;
      allow delete;
    }
    match /users/{usersId} {
      // allow read: if request.auth != null
      // && userId == request.auth.uid;
      allow read;
      allow create;
      allow update;
      allow delete;
      
    }
    match /order/{orderId} {
      allow read;
      allow write;
    }
  }
}